.options {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.options label {
    cursor: pointer;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: var(--box-bg);
    transition: background 0.2s;
    backdrop-filter: blur(10px);
    padding: 8px 20px;
    font-size: 10pt;
}

.options input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.options .optionSelected {
    background-color: var(--primary);
    color: var(--white);
}

@media (max-width: 768px) {
    .options {
        gap: 8px;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;
    }

    .options label {
        padding: 10px 18px;
        font-size: 1rem;
        border-radius: 50px;
        flex: 1 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        background-color: var(--box-bg);
        border: 1px solid rgba(128, 128, 128, 0.1);
        transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        color: var(--foreground);
    }

    .options .optionSelected {
        background-color: var(--primary);
        color: var(--white);
        border-color: var(--primary);
        transform: scale(1.02);
    }
}
