:root {
    --white: #ffffff;
    --black: #000000;
    --bronze: #cd7f32;
    --silver: #c0c0c0;
    --golden: #ffd700;
}
.dark {
    --background: #070707;
    --foreground: #ffffff;
    --primary: #dc143c;
    --box-bg: rgba(255, 255, 255, 0.1);
}
.light {
    --background: #ffffff;
    --foreground: #070707;
    --primary: #dc143c;
    --box-bg: rgba(0, 0, 0, 0.1);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
}

body,
label {
    font-family: "FK Grotesk Trial", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-family: "FK Grotesk Trial", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.page-content {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
}

.color-primary {
    color: var(--primary);
}
