.container {
    position: relative;
    width: 100%;
}
.coloredTable {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.coloredTable tr {
    position: relative;
    border-bottom: 1px solid var(--foreground);
}
.coloredTable tr:last-child {
    border-bottom: none;
}

.desktopRows {
    display: table-row-group;
}
.mobileRows {
    display: none;
}

.coloredTable td {
    padding: 16px 15px;
    text-align: left;
    font-weight: 300;
    font-size: 2rem;
}

.coloredTable :global(.onlyDesktop) td:first-child,
.coloredTable :global(.onlyMobile) td:first-child p:first-child {
    font-weight: 500;
}
.coloredTable td:last-child {
    text-align: right;
}

.coloredTable tr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 0;
    width: 100%;
    background: var(--primary);
    z-index: -1;
    transition: all 0.2s; /* lasciamo che sia gsap a controllare */
    will-change: max-height;
}
.coloredTable tr:hover {
    color: var(--background);
}
.coloredTable tr:hover::before {
    max-height: 100%;
}

.coloredTable :global(a) {
    text-decoration: underline;
}

.imageContainer {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

@media (max-width: 768px) {
    /* .coloredTable {
        margin: 50px 0;
    } */
    .desktopRows {
        display: none;
    }
    .mobileRows {
        display: table-row-group;
    }
    .coloredTable td {
        font-weight: 400;
        font-size: 1.7rem;
    }
    .coloredTable td:first-child p {
        opacity: 0.6;
    }
    .coloredTable td:first-child p:first-child {
        opacity: 1;
    }
}
