.slidePositioner {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.slideLink {
    pointer-events: none;
}

.slide {
    position: relative;
    cursor: pointer;
    overflow: visible;
    pointer-events: none;
}

.imageStack {
    position: absolute;
    inset: 0;
    pointer-events: none;
    box-shadow: 1px -1px 0px rgba(255, 255, 255, 0.35);
    transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.28, 0.89);
    will-change: transform;
}

.hitArea {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: auto;
}

.slideImage {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    transition: opacity var(--full-image-fade-duration) ease;
}

.previewImage {
    z-index: 0;
}

.fullImage {
    z-index: 1;
    opacity: 0;
}

.fullImageLoaded {
    opacity: 1;
}

.slide:hover .imageStack {
    transform: translateX(calc(var(--image-width) * 0.7));
}

.ortho {
    display: block;
    transform-origin: 50% 50%;
    backface-visibility: hidden;

    --rx: 25deg;
    --ry: 30deg;
    --rz: 0deg;
    transform: rotateX(var(--rx)) rotateY(var(--ry)) rotateZ(var(--rz));
}
